{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ fournisseur.tva }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ fournisseur.contact }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ fournisseur.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fournisseur.email }}</td>
            </tr>
            <tr>
                <th>Adresse_web</th>
                <td>{{ fournisseur.adresseWeb }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ fournisseur.identifiant }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ fournisseur.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fournisseur_index') }}">back to list</a>

    <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
{% endblock %}
