{% extends 'base.html.twig' %}

{% block title %}ArticleStock index{% endblock %}

{% block body %}
    <h1>ArticleStock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrixAchat</th>
                <th>PrixVente</th>
                <th>TauxTVA</th>
                <th>Remise</th>
                <th>Quantite</th>
                <th>DateReception</th>
                <th>DateCommande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article_stock in article_stocks %}
            <tr>
                <td>{{ article_stock.id }}</td>
                <td>{{ article_stock.prixAchat }}</td>
                <td>{{ article_stock.prixVente }}</td>
                <td>{{ article_stock.tauxTVA }}</td>
                <td>{{ article_stock.remise }}</td>
                <td>{{ article_stock.quantite }}</td>
                <td>{{ article_stock.dateReception ? article_stock.dateReception|date('Y-m-d') : '' }}</td>
                <td>{{ article_stock.dateCommande ? article_stock.dateCommande|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('article_stock_show', {'id': article_stock.id}) }}">show</a>
                    <a href="{{ path('article_stock_edit', {'id': article_stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_stock_new') }}">Create new</a>
{% endblock %}
